<configuration>
  <property>
      <name>fs.default.name</name>
{% for master in groups['hadoopmaster'] %}
     <value>hdfs://{{ hostvars[master]['inventory_hostname'] }}:8020</value>
{% endfor %}
  </property>
</configuration>
